{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="mx-auto mt-5">
                <h1 class="mx-auto"> Halo, Apa kabar?</h1>
        </div>
        
        <form action="{% url 'landing:landing' %}" method="POST" >
            {% csrf_token %}
            <div class="input-group" >
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ form.message.label }}</span>
                </div>
                {{ form.message }}
            </div>
            <button type="submit" class="btn btn-primary mt-2" id="submit">Submit</button>
        </form>
        <div class="msg_all">
            {% for i in data %}
            <div class="row">
                <div class="col-2 date">
                    {{ i.date }}
                </div>
                <div class="col-10 ">
                    <p class="msg">{{ i.msg }}</p>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
</body>

</html>